.loaderContainer{
    width: 100%;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.isSuccess{

    width: max-content;

    margin: auto;
    padding-top: 48px;


    font-family: 'Lora', serif;

    font-size: 32px;
    font-weight: 400;
    color: var(--black);
}
