.companyNameBox{
    display: flex;
    flex-direction: column;
}

.companyName{
    font-family: Lora, serif;
    font-size: 28px;
    font-weight: 400;
    
}

.auctionsWord{
    margin-top: -9px;
    font-family: Lora, serif;
    font-size: 13px;
    font-weight: 400;
    
}


@media screen and (min-width: 1024px) {
    .companyName{
        font-size: 32px;
    }

    .auctionsWord{
        margin-top: -8px;
        font-size: 14px;
    }
}
