.resetPasswordHref{
    margin-left: auto;

    padding-top: 20px;

    font-size: 14px;
    font-weight: 400;
    color: var(--muted-text);

    text-decoration: underline;

    cursor: pointer;
}

.resetPasswordHref:hover{
    color: var(--blue);
}

.underFormInfo{
    display: flex;

    padding-top: 20px;
}

.underFormText{
    font-size: 15px;
    font-weight: 500;
    color: var(--muted-text);
}

.underFormHref{
    margin-left: 8px;

    font-size: 15px;
    font-weight: 500;
    color: var(--blue);

    cursor: pointer;
}

.underFormHref:hover{
    color: var(--hovered-blue);
}

@media screen and (max-width: 480px) {
    .form{
        width: 100%;
    }
}

