.inputLabel{
    max-width: 408px;

    display: block;

    margin-top: 24px;
    margin-bottom: 4px;

    font-size: 16px;
    font-weight: 500;
    color: var(--muted-text);
}

.fieldContainer{
    display: flex;
    align-items: center;

    margin-bottom: 16px;
}

.requestVerificationButton{
    width: 200px;

    margin-left: 24px;
}

.okSymbol{
    padding-left: 24px;

    font-size: 19px;
    font-weight: 500;
    color: var(--green);
}

.changePasswordHref{
    width: max-content;
    
    display: block;

    margin-top: 24px;

    font-size: 14px;
    font-weight: 400;
    color: var(--blue);

    border-bottom: 1px solid var(--blue);

    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .form{
        width: 100%;
        max-width: 408px;

        margin: auto;
    }

    .fieldContainer{
        max-width: 408px;

        display: block;
    
        margin-bottom: 16px;
    }

    .requestVerificationButton{
        width: 100%;

        margin-top: 16px;

        margin-left: 0;
    }

    .okSymbol{
        display: none;
    }
}
