.error{
    display: flex;
    align-items: center;
}

.errorIcon{
    width: 18px;
    height: 18px;
}

.errorText{
    display: block;
    padding-left: 6px;
    font-size: 14px;
    font-weight: 500;
    color: var(--red)
}
