.bidsContainer{
    margin-top: 20px;
    display: grid;
    gap: 8px 8px;

    width: 100%;
}

.noBids{
    margin-top: 200px;

    font-size: 24px;
    font-weight: 400;
    color: var(--muted-text);

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 480px) {
	.bidsContainer{
        gap: 12px 12px;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}