.passwordFieldContainer{
    width: 100%;
    max-width: 432px;
    position: relative;
    display: flex;
    align-items: center;
}

.showPasswordButton{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 16px;
    cursor: pointer;
}
