.footer{
    width: 100%;
    margin-top: 36px;
    background: var(--hovered-bg-color);
}

.innerFooter{
    width: 100%;
    height: 100%;
    padding: 24px 20px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerSection{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: var(--muted-text);
}

.footerSection:hover{
    text-decoration: underline;
}

.footerSections > .footerSection + .footerSection{
    margin-top: 12px;
}

.copyright{
    font-size: 18px;
    font-weight: 500;
    color: var(--muted-text);
}

@media screen and (min-width: 480px) {
	.innerFooter  {
		padding: 24px 24px;
	}
}

@media screen and (min-width: 768px) {
    .innerFooter  {
		padding: 24px 36px;
	}
}

@media screen and (min-width: 1024px) {
    .innerFooter  {
		padding: 24px 44px;
        max-width: 1024px;
        margin: auto;
	}
}
