.companyNameBox{
    display: flex;
    flex-direction: column;
}

.companyName{
    font-family: 'Lora', serif;
    font-size: 28px;
    font-weight: 400;
    color: var(--black);
}

.auctionsWord{
    margin-top: -9px;

    font-family: 'Lora', serif;
    font-size: 13px;
    font-weight: 400;
    color: var(--black);
}