.changePasswordHref{
    width: max-content;
    display: block;
    padding-top: 24px;
    font-size: 14px;
    font-weight: 500;
    color: var(--blue);
    cursor: pointer;
}

.changePasswordHref:hover{
    text-decoration: underline;
}