.submitButton{
    width: 300px;
    height: 48px;

    margin-top: 24px;

    border-radius: 8px;
    border: 0;

    background: var(--blue);

    font-size: 16px;
    font-weight: 400;
    color: var(--white);

    cursor: pointer;
}

.submitButton:hover, .submitButton:focus{
    background: var(--hovered-blue);
}

.submitButton:disabled{
    border: 1px solid var(--border-color);
    background: var(--white);
    color: var(--muted-text);

    cursor: default;
}