.header{
    width: 100%;
    height: 64px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2); 
}

.innerHeader{
    width: 1100px;
    height: 100%;

    padding: 0 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto;
}

.authBox{
    display: flex;
    align-items: center;
}

.userBox{
    position: relative;

    display: flex;
    align-items: center;

    padding: 8px 16px;

    border: 1px solid var(--border-color);
}

.userBox:hover .dropDown{
    display: block;
}

.userIcon{
    width: 24px;
    height: 24px;
}

.username{
    padding-left: 16px;

    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}

.registrationHref{
    font-size: 16px;
    font-weight: 400;
    color: var(--black);

    cursor: pointer;
}

.loginHref{
    margin-left: 30px;

    padding: 10px 24px;

    border-radius: 8px;
    background: var(--blue);

    font-size: 16px;
    font-weight: 400px;
    color: var(--white);

    cursor: pointer;
}

.loginHref:hover{
    background: var(--hovered-blue);
}