.pageTitle{
    display: block;

    padding-top: 36px;

    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--black);
}

.errorMessage{
    display: block;
    margin-bottom: 4px;

    font-size: 13px;
    font-weight: 500;
    color: var(--red);
}

.form{
    padding-top: 24px;
}

.inputLabel{
    display: block;

    margin-bottom: 4px;

    font-size: 16px;
    font-weight: 500;
    color: var(--muted-text);
}

.input{
    width: 300px;
    height: 50px;

    margin-bottom: 16px;

    display: flex;
    align-items: center;

    padding-left: 14px;
    
    border: 1px solid var(--border-color);
    border-radius: 8px;

    font-size: 15px;
    font-weight: 500;
    color: var(--black);
}

.fieldContainer{
    display: flex;
    align-items: center;

    margin-bottom: 16px;
}

.passwordFieldContainer{
    width: max-content;

    margin-bottom: 12px;

    position: relative;
    display: flex;
    align-items: center;
}

.passwordField{
    margin-bottom: 0;
}

.showPasswordIcon{    
    position: absolute;
    right: 16px;

    cursor: pointer;
}

.confirmButton{
    width: 200px;
    height: 50px;

    margin-left: 24px;

    border-radius: 8px;
    border: 0;

    background: var(--blue);

    font-size: 16px;
    font-weight: 400;
    color: var(--white);

    cursor: pointer;
}

.confirmButton:hover, .confirmButton:focus{
    background: var(--hovered-blue);
}

.confirmButton:disabled{
    border: 1px solid var(--border-color);
    background: var(--white);
    color: var(--muted-text);

    cursor: default;
}

.okSymbol{
    padding-left: 24px;

    font-size: 19px;
    font-weight: 500;
    color: var(--green);
}

.submitButton{
    width: 300px;
    height: 48px;

    margin-top: 24px;

    border-radius: 8px;
    border: 0;

    background: var(--blue);

    font-size: 16px;
    font-weight: 400;
    color: var(--white);

    cursor: pointer;
}

.submitButton:hover, .submitButton:focus{
    background: var(--hovered-blue);
}

.submitButton:disabled{
    border: 1px solid var(--border-color);
    background: var(--white);
    color: var(--muted-text);

    cursor: default;
}


