.errorMessage{
    display: block;
    margin-bottom: 4px;

    font-size: 13px;
    font-weight: 500;
    color: var(--red);
}

.form{
    padding-top: 24px;
}

.inputLabel{
    display: block;

    margin-bottom: 4px;

    font-size: 16px;
    font-weight: 500;
    color: var(--muted-text);
}

.fieldContainer{
    display: flex;
    align-items: center;

    margin-bottom: 16px;
}

.passwordFieldContainer{
    width: max-content;

    margin-bottom: 12px;

    position: relative;
    display: flex;
    align-items: center;
}

.confirmButton{
    width: 200px;
    height: 50px;

    margin-left: 24px;

    border-radius: 8px;
    border: 0;

    background: var(--blue);

    font-size: 16px;
    font-weight: 400;
    color: var(--white);

    cursor: pointer;
}

.confirmButton:hover, .confirmButton:focus{
    background: var(--hovered-blue);
}

.confirmButton:disabled{
    border: 1px solid var(--border-color);
    background: var(--white);
    color: var(--muted-text);

    cursor: default;
}

.okSymbol{
    padding-left: 24px;

    font-size: 19px;
    font-weight: 500;
    color: var(--green);
}

.submitButtonContainer{
    width: max-content;

    display: flex;
    align-items: center;
}

.savedText{
    padding: 24px 0 0 24px;

    font-size: 14px;
    font-weight: 500;
    color: var(--green);
}
