.arrow{
    width: 32px;
    height: 32px;
    margin: 0 20px;
    cursor: pointer;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
}

.rightArrow{
    transform: rotate(180deg);
}

.hideArrow{
    opacity: 0;
    cursor: default;
}

@media screen and (min-width: 1024px) {
	.arrow{
        margin: 0 36px;
    }
}
