.overlay{
    width: 100dvw;
    height: 100dvh;
    overflow: auto;

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.modalBody{
    width: 100%;

    max-width: 400px;

    margin: 0 12px;

    padding: 24px;

    background: var(--white);

    border-radius: 8px;
}

.modalTitle{
    width: max-content;

    display: block;

    margin: auto;

    padding-bottom: 20px;

    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--black);

    user-select: none;
}
