.pageTitle{
    display: block;

    padding-top: 36px;

    font-family: 'Lora', serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--black);
}


@media screen and (max-width: 768px) {
    .pageTitle{
        padding-top: 32px;

        text-align: center;
    }
}
