.mobileUserMenu{
    width: 100%;
    
    display: none;

    position: absolute;

    background: var(--white);
}

.menuSection{
    padding: 20px 32px;

    font-size: 18px;
    font-weight: 500;
    color: var(--black);

    border-top: 1px solid var(--border-color);
}

@media screen and (max-width: 768px) {
    .mobileUserMenu{
        display: block;
    }
}
